.featureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.25rem;
  margin-bottom: 1.875rem;
  transform: translateY(-70px);
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
  padding: 0 1.5rem;
}
.feature > picture {
  width: 100%;
  height: auto;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pattern {
  margin-bottom: 2.25rem;
}
.heading {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 0.8rem;
}
.para {
  line-height: 1.625;
}
.imageContainer {
  width: 100%;
  height: auto;
}
.image {
  width: 100%;
  height: auto;
  box-shadow: 0px 75px 100px -50px hsla(219, 21%, 28%, 50.25%);
}
@media (min-width: 500px) {
  .featureContainer {
    transform: translateY(-96px);
    margin-bottom: 1.375rem;
  }
  .feature {
    padding: 0 6.125rem;
    gap: 4.5rem;
  }
  .heading {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.5px;
    margin-bottom: 1.625rem;
  }
  .para {
    font-size: 1.25rem;
    line-height: 1.5;
    width: calc(100% - 8rem);
    margin: 0 auto;
  }
  .pattern {
    margin-bottom: 3.4rem;
  }
}
@media (min-width: 1025px) {
  .featureContainer {
    transform: translateY(-70px);
    gap: 7.5rem;
  }
  .feature {
    flex-direction: row;
    padding: 0 10.25rem;
    text-align: start;
    gap: 7.75rem;
  }
  .para {
    margin: 0;
  }
  .image {
    width: auto;
  }
  .textContainer {
    align-items: start;
  }
  .pattern {
    margin-bottom: 3.375rem;
  }
  .feature:nth-child(2) {
    flex-direction: row-reverse;
  }
}
