* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-size: 1rem;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
#root,
#__next {
  isolation: isolate;
}
